{#
/**
    Display the front (Home) page.
 */
#}

<div class="layout-container">

  <navigation role="navigation">
    {{ page.navigation }}
  </navigation>

  <section role="region">
    {{ page.the_latest }}
  </section>

  <section role="region">
    {{ page.subscribe }}
  </section>

  <section role="region">
    {{ page.slider }}
  </section>

  <section role="region">
    {{ page.the_rest }}
  </section>

  <footer role="footer">
    {{ page.footer }}
  </footer>

</div>